$color-error-red: #ff4d4f;

.project-resources-form {
  display: grid;
  grid-gap: 24px;

  &.modal {
    padding: unset;
  }

	.ant-input-affix-wrapper-disabled,
	.ant-input-disabled {
		background: rgba(229, 240, 254, 0.4);
	}

  .solecode-ui-card {
    padding: 0 !important;
  }

  .form {
    &-title {
      display: flex;
      align-items: center;
      gap: 12px;
      border-left: 8px solid #1a79cb;
      padding-left: 16px;
      font-size: 24px;
      font-weight: 600;
      .solecode-ui-tooltip .cursor-pointer {
        margin-top: -6px !important;
      }
		}
    &-label {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: rgba(38, 38, 38, 0.9);
      margin-bottom: 12px;
    }

    &-field {
      .ant-input-affix-wrapper {
        border: solid 1px #a3c9ea;
        border-radius: 8px;
        height: 48px;
      }
      .ant-input {
        border: none;
      }

      .ant-input-suffix {
        font-size: 16px;
        line-height: 1.5;
        color: #1a79cb;
      }

      .solecode-ui-input-text {
        .ant-input {
          border: 1px solid #a3c9ea;
          border-radius: 8px;
        }
        .ant-input:disabled {
          border: none;
        }
      }
    }

    .row {
      display: flex;
      flex: 1;
      gap: 16px;

      .form-field,
      .item {
        flex: 1;

        &-action {
          width: 64px;
        }
      }
    }

		&-error-message {
			position: relative;
			margin-top: 8px;
			border-radius: 4px;
			background-color: $color-error-red;
			color: #fff;
			padding: 8px;
			
			&::after {
				content: "";
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: $color-error-red transparent transparent transparent;
				transform: rotate(180deg);
			}
		}
  }
}
