@solecode:registry=https://nexus.solecode.tech/repository/solecode-npm/
//nexus.solecode.tech/repository/solecode-npm/:always-auth=true
//nexus.solecode.tech/repository/solecode-npm/:_auth=c29sZWNvZGUtc2U6U29sZWNvZGUxMjM0Kg==
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=56903FB2-3D01-4301-916E-976FEBF2B630
