.solecode-ui-content-header {
  height: 86px;
  padding: 0 24px 0 24px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../../public/svg/header-image.svg'), linear-gradient(95deg, #003766 5%, #258ee9 97%);
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 16px;
}