.solecode-ui-list-modal {
	.ant-modal-content {
		.ant-modal-title {
			font-weight: 600;
		}

		.ant-modal-body {
			padding: 0 24px 8px 24px;
		}

		.ant-list {
			.ant-list-items {
				.ant-list-item {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					.title {
						width: 100%;
						margin-bottom: 8px;
					}

					.details {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						color: rgba(38, 38, 38, 0.45);
					}
				}
			}
		}
	}
}