.solecode-ui-search-filter {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: solid 1px #a3c9ea;
  width: 100%;
  height: 56px;
  padding: 0 6px;

  .divider {
    width: 1px;
    height: 23px;
    flex-grow: 0;
    background-color: rgba(38, 38, 38, 0.1);
  }

  .solecode-ui-select-search {
    width: 50%;
    margin-right: 8px;

    .ant-select {
      .ant-select-selector {
        border: none;
        border-radius: 8px;
      }
    }
  }

  .solecode-ui-input-text {
    display: flex;
    width: 100%;  
    margin-left: 8px;

    .ant-input-affix-wrapper {
      border: none;
      border-radius: 8px;
    }
  }
}