.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;

  > div:first-child {
    > img {
      width: 480px;
    }
  }

  > div:nth-child(2) {
    font-size: 38px;
    color: #1a79cb;
  }

  > div:nth-child(3) {
    font-size: 24px;
  }
}